body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.boxwrapper{
	display: flex;
	width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.demotext
{

	width: 50%;
    margin-left: auto;
    margin-right: auto;

}



.boxwrapper img{
	margin-right: 10px;
}


.boxwrapper img:hover{
	
}


.showtxt 
{
	display: block;
	

}

.hidetxt 
{
	display: none;

}

.hideAgain 
{
	display: none;
}

.activeimg {
	border: 2px solid gray;
	

}


.txtp {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    border: 2px solid gray;
	padding: 20px;
	border-radius: 20px;
	background-color: blue;
	color:white;
	margin-bottom: 10px;
    
}



.txtp img{
	float: left;
	margin-right:10px;
	margin-top:20px;
}

.txtp button
{
 color:tomato;
}


.cta 
{
	width:30%;
	height: 40px;
	border-radius: 10px;
	margin-left: 210px;
}